.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  border: 1px solid rgb(184, 184, 185);
  border-radius: 15px;
  padding: 10px 30px;
  margin-bottom: 35px;
}

.formGroup {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: rgb(35, 128, 192);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

:focus {
  outline-color: rgb(137, 192, 61);
}
